{% extends "base.html" %}

{% block title %}毛泽东{% endblock %}

{% block content %}
<div class="hero-container">
    <div class="hero-header">
        <img src="{{ url_for('static', filename='image/image1.png') }}" alt="毛泽东" class="hero-image">
        <h1>毛泽东</h1>
        <p class="hero-title">伟大的无产阶级革命家</p>
    </div>

    <div class="hero-content">
        <section class="hero-section">
            <h2>人物简介</h2>
                <p>  毛泽东（1893-1976），字润之，湖南湘潭人，伟大的无产阶级革命家、战略家和理论家，中国共产党、人民军队和新中国的主要缔造者。他将马克思主义基本原理与中国实际相结合，领导中国人民取得新民主主义革命胜利，建立中华人民共和国。作为党的第一代领导核心，确立了社会主义基本制度，其创立的毛泽东思想是党的指导思想之一。其诗词、书法造诣深厚，是20世纪最具影响力的世界伟人之一。</p>
        </section>

        <section class="hero-section">
            <h2>历史贡献</h2>
                <p>  毛泽东同志是伟大的马克思主义者，中国共产党、人民军队和新中国的主要缔造者。他创造性地提出"农村包围城市"的革命道路，领导中国人民取得抗日战争和解放战争胜利，推翻"三座大山"，于1949年建立中华人民共和国，实现了民族独立和人民解放。作为党的第一代领导核心，他确立了社会主义基本制度，为当代中国发展进步奠定了根本政治前提和制度基础。他创立的毛泽东思想是党的指导思想，其关于党的建设、武装斗争和统一战线的理论，至今仍具有重要指导意义。毛泽东同志的革命实践和理论贡献，深刻改变了中国历史进程，对世界被压迫民族的解放运动产生了深远影响。</p>
        </section>

        <section class="hero-section">
            <h2>历史意义</h2>
                <p>  毛泽东同志是伟大的无产阶级革命家，中国共产党、人民军队和新中国的主要缔造者。他创造性地提出"农村包围城市"的革命道路，领导中国人民取得新民主主义革命胜利，建立了中华人民共和国，实现了民族独立和人民解放。作为党的第一代领导核心，他确立了社会主义基本制度，其创立的毛泽东思想为党和国家事业发展提供了科学理论指导。毛泽东同志的革命实践和理论贡献，深刻改变了中国历史进程，对世界被压迫民族的解放运动产生了重要影响。</p>
        </section>
    </div>
</div>
{% endblock %}
